.info-img{
    height: 100px;
    width: 100px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:darkgray;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   